[submodule "common/skynet"]
	path = common/skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "common/lualib-src/pbc"]
	path = common/lualib-src/pbc
	url = https://github.com/cloudwu/pbc.git
